<!-- Bottom Alert Bar
================================================== -->
<section class="alertbar">
  <div class="container d-flex justify-content-around">
    <div>
      <a class="navbar-brand" href="{{ site.baseurl }}">
        <i class="lni lni-shopping-basket text-primary my-0" style="font-size: 36px"></i>
      </a>
    </div>
    <div>
      <a href="#">
      <button class="btn btn-outline-primary">Book Me</button>
      </a>
    </div>
    <div>
      <ul class="social-icons">
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://github.com/eclectic-coding" aria-label="GitHib Profile">
            <i class="lni lni-github"></i>

          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://github.com/eclectic-coding" aria-label="LinkedIn Profile">
            <i class="lni lni-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://twitter.com/EclecticCoding" aria-label="Twitter Profile">
            <i class="lni lni-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://www.linkedin.com/in/dev-chuck-smith/" aria-label="Dev.to Profile">
            <i class="lni lni-dev"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</section>