<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand pr-0" href="{{ site.baseurl }}">
      EclecticSaddlebag
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarEclectic"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarEclectic">

      <!-- Begin Menu -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://github.com/eclectic-coding" aria-label="GitHib Profile" >
            <i class="lni lni-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://github.com/eclectic-coding" aria-label="LinkedIn Profile" >
            <i class="lni lni-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://twitter.com/EclecticCoding" aria-label="Twitter Profile" >
            <i class="lni lni-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link"
             href="https://www.linkedin.com/in/dev-chuck-smith/" aria-label="Dev.to Profile" >
            <i class="lni lni-dev"></i>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>